@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
    font-family: "Moscowmetro";
    src: url('fonts/MoscowMetro.otf')
}

:root {
    --background-main: #212327;
    --lines: #292c31;
    --online: #598f5b;
    --background-header: #494e57;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.logo {
    font-size: 30px;
    font-family: "Moscowmetro", serif;
    padding-right: 20px;
    border-right: 2px solid red;
    align-self: center;
}

a {
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    flex-direction: column;
}

.userlink_cabinet {
    transition: all 0.5s;
    color: white;
    font-size: 50px;
    vertical-align: middle;
}

.navbar-text {
    font-size: 30px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    background-color: var(--background-header);
    padding: 10px;
    justify-content: space-between;
}

.header-text {
    margin-right: 20px;
    align-self: center;
}

.navbar {
    float: right;
    display: flex;
    justify-content: end;
}

.link {
    color: black;
}

.link:hover {
    border-bottom: 2px solid red;
}

a {
    text-decoration: none;
}

.blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

.blog:hover {
    cursor: pointer;
}

.userlink {
    transition: all 0.5s;
    color: white;
    font-size: 50px;
    vertical-align: middle;

}

.post-text {
    display: inline-block;
    max-width: 500px;
}

.userlink:hover {
    transition: all 0.5s;
    color: gray;

}

html, body {
    height: 100%;
    margin: 0;
}

.main, .main_container {
    background-color: var(--background-main);
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.namelogo {
    display: flex;
}

.footer {
    margin-top: 20px;
    padding-top: 5px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);;
    text-align: center;
    color: white;
    padding-bottom: 5px;
}

.container {
    padding-top: 20px;
    margin: 0 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    height: 100%;
}

.modal-form {
    margin-top: 90px;
}

.modal-input {
    background: none;
    border: none;
    height: 50px;
    border-bottom: 1px solid var(--lines);
    outline: none;
    color: white;
    width: 50%;
}

.modal-input:focus {
    border-bottom: 1px solid var(--online);
}

.modal-header {
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--background-header);
    border-radius: 30px 30px 0 0;
    justify-content: space-between;
}

.modal-name {
    margin-left: 30px;
    align-self: center;
    font-size: 30px;
}

.modal-button {
    border: 0;
    background-color: var(--online);
    width: 30%;
    height: 50px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

.modal-button:hover {
    cursor: pointer;
    color: gray;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal-background {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.modal-body {
    border-radius: 30px;
    width: 50%;
    height: 500px;
    text-align: center;
    background-color: var(--background-main);
    animation: header_start 1s;
    z-index: 50;
}

.close-modal {
    background: none;
    border: none;
    width: 100px;
    fill: white;
    float: right;
}

.close-modal:hover {
    fill: gray;
    cursor: pointer;
}

.container-main {
    width: 100%;
    padding-top: 20px;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: white;
    height: 100%;
}

.button-create {
    background: none;
    border: none;
    align-self: center;
}

.button-create:hover {
    fill: gray;
    stroke: gray;
    cursor: pointer;
}

.userheader {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 5px solid var(--lines);
}

.userheaderimage {
    width: 100%;
}

.userlogo {
    width: 10%;
    border-radius: 100%;
    border: 5px solid #598f5b;
    margin-right: 30px;
    vertical-align: text-top;
}

.about-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.cabinet {
    margin-left: 30px;
}

.about-column {
    font-size: 20px;
    padding: 3px 20px;
    display: inline;
    height: 100px;
}

.posts {
    margin: 20px auto 0;
    width: 70%;
}

body {
    background-color: var(--background-main)
}

.post {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid var(--lines);
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-title {
    font-size: 24px;
}

.userinfo {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date {
    font-size: 10px;
    float: right;
    color: lightgray;
}

.red_color {
    color: red;
}

.black_color {
    color: black;
}

@media (min-width: 1000px) {
    .logo {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .userlink {
        font-size: 30px;
    }

    .userlogo {
        width: 10%;
        margin-right: 0;
    }

}

.headerlogo {
    width: 100px;
}

._logo {
    display: flex;
    align-items: center;
    justify-content: end;
    float: right;
}

.a192 {
    width: 50px;
    border: 2px solid gray;
}

@media (max-width: 1350px) {
    .post {
        padding: 50px 0;
    }
}

@media (max-width: 1050px) {
    .modal-start {
        margin-top: 50px;
    }

    .about-column {
        padding-left: 10px;
    }

    .logo {
        font-size: 40px;
    }

    .posts {
        width: 95%;
        margin: 80px auto 0 auto;

    }

    .header-text {
        font-size: 30px;
    }

    .post-text {
        font-size: 30px;
    }

    .post-title {
        font-size: 40px;
    }

    .date {
        font-size: 20px;
    }

    .userlink {
        display: none;
    }

    .main-header {
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        animation: header_start 1s forwards;
        background: var(--background-header)
    }

    .modal-body {
        width: 100%;
        height: 80%;
    }

    .modal-input {
        height: 50px;
        font-size: 30px;
    }

    .modal-button {
        width: 60%;
        height: 50px;
        font-size: 20px;
    }
}

@keyframes header_start {
    0% {
        opacity: 5%
    }
    100% {
        opacity: 100%
    }
}

@keyframes header_stop {
    0% {
        opacity: 100%
    }
    100% {
        opacity: 5%;
        display: none;
    }
}

.post-title {
    display: flex;
    align-self: center;
}

.post-name {
    align-self: center;
}

.post-header {
    display: flex;
}

body, html {
    height: 100%;
}
